*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}
nav{
    background-color: aqua;
    height: 3rem;
    width: 100%;
    display: grid;
    place-items: center;

}
nav ul{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
}
nav li{
    font-weight: bold;
    place-items: center;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
}
main{
    height: 60vh;
    width: 70vw;
}
input{
    width: 250px;
}
button{
    height: 35px;
    width: 90px;
    margin: 30px;
    margin-left: 0px;
    
}
form{
    display: flex;
    flex-direction: column;
}