* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.container {
    padding: 16px;
    height: fit-content;
    width: 25vw;
    border: 1px solid #33333355;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: 0.2s all ease-in-out;
}

ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #33333355;
    animation: list 0.2s forwards alternate;
}

ul li:last-child {
    border-bottom: none;
}

button {
    background-color: red;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.Task-box{
    display: flex;
    gap: 6px;
}

input[type=text] {
    padding: 6px;
    flex: 3;
}

#submit {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: none;
    background: royalblue;
    color: #fff;
    outline: none;
    cursor: pointer;
}

