* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    gap: 2rem;
}

header {
    width: 100dvw;
    text-align: center;
    margin-bottom: 20px; 
}

h1 {
    height: 60px;
    background-color: rgb(206, 202, 202);
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3a3434;
    color: #fff;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}
.outerbox {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; 
    justify-content: center; 
}

.box {
    width: 200px;
    height: 150px;
    margin: 40px;
    background: blue;
    border: 2px solid rgb(0, 2, 3);
}
footer{
    background: #3a3434;
    text-align: center;
    position: relative;
    width: 100%;
    height: 30px;
}